<h1 style="text-align: center;">Justin Breaux</h1>
<br>
<p style="text-align: center;">"Allons-y!"</p>
<p style="text-align: center;">Born in: Louisiana</p>
<br>
<table class="table table-striped table-primary">
    <thead>
        <tr>
            <th style="text-align: center;">Things that help me escape reality</th>
            <th>Type</th>
            <th>Favorites</th>
            <th>Current Projects</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td style="text-align: center;">Games</td>
            <td>
                <li>RPG</li> 
                <li>Fantasy</li>
                <li>Tabletop</li>
            </td>
            <td>
                <li>Guilty pleasure: Kingdom Hearts</li> 
                <li>Betrayal at House on the Hill</li>
            </td>
            <td>
                <li>Recently finished: Horizon Zero Dawn</li>
            </td>
        </tr>
        <tr>
            <td style="text-align: center;">Books</td>
            <td>
                <li>Fantasy</li>
                <li>Adventure</li>
            </td>
            <td>
                <li>Dan Brown (Robert Langdon series)</li> 
                <li>Brent Weeks (Lightbringer series)</li>                
            </td>
            <td>
                <li>Leigh Bardugo (Grishaverse series)</li>
            </td>
        </tr>
        <tr>
            <td style="text-align: center;">TV Shows</td>
            <td>
                <li>Fantasy/Superhero</li>
                <li>Reality</li>
                <li>Sitcom</li>
            </td>
            <td>
                <li>Doctor Who</li> 
                <li>Survivor</li>                
            </td>
            <td>
                <li>The Book of Bobba Fett</li>
                <li>Black Lightning</li>
            </td>
        </tr>
        <tr>
            <td style="text-align: center;">Movies</td>
            <td>
                <li>Fantasy</li>
                <li>Adventure</li>
            </td>
            <td>
                <li>From Childhood: Alladin</li> 
                <li>Modern: Really can't pick a favorite</li>                
            </td>
            <td>
                <li>Catching up with the MCU post-Endgame</li>
            </td>
        </tr>
        <tr>
            <td style="text-align: center;">Escape Rooms</td>
            <td>
                <li>All</li>
            </td>
            <td>
                <li>Mission: Mars at The Escape Room</li> 
                <li>Special Ops:Mysterious Market at The Escape Game</li>                
            </td>
            <td>
                <li>Find more!!!</li>
            </td>
        </tr>
    </tbody>
</table>
<br>