<div class = "container bg-main rounded">
    <br>
    <h3>NAME</h3>
    <br>
    <article>
        <h2>MARIO JIMENEZ</h2>
    </article>
    <br>
    <h3>STATE / COUNTRY OF BIRTH</h3>
    <br>
    <p>
        Currently living in California!<br>
        <img src = "https://cdn.shopify.com/s/files/1/1565/7445/products/california-state-flag_500x.jpg" width="100px" height="70px"><br>
        Originally from Dominican Republic!<br>
        <img src = "https://upload.wikimedia.org/wikipedia/commons/thumb/9/9f/Flag_of_the_Dominican_Republic.svg/1200px-Flag_of_the_Dominican_Republic.svg.png" width="100px" height="70px">

    </p>
    <br>
    <h3>TOP 5 INTERESTS / HOBBIES</h3>
    <br>
    <div class="d-flex">
        <ul class = "list">
            <li>Programming</li>
            <li>Gaming</li>
            <li>Hiking / Traveling</li>
            <li>Animals / Pets [Cats] </li>
            <li>Technology</li>
        </ul>
    </div>
    <br>
    <h3>AN INTERESTING QUOTE</h3>
    <br>
    <p>"Be kind, for everyone you meet is fighting a harder battle."
    - Plato</p>
    <br><br>
    <h3>A PHOTO OF SOMETHING YOU ENJOY:</h3>
    <img src="https://i.ibb.co/rm2Vb4N/comet.jpg" class = "cat">
</div>