<nav class="navbar navbar-light bg-light">
    <div class="container-fluid">
      <span class="navbar-text"> 
        <a routerLink="/eric" routerLinkActive="active">Eric</a>
      </span>
      <span class="navbar-text" style="width:20%; background-color: seagreen; border-style:outset; border-radius: 10%/50%; text-align: center;"> 
        <a routerLink="/justin" routerLinkActive="active" style="color: sienna; font-weight: bold; text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;">Justin</a>
      </span>
      <span class="navbar-text"> 
        <a routerLink="/elias" routerLinkActive="active">Elias</a>
      </span>
      <span class="navbar-text"> 
        <a routerLink="/mario" routerLinkActive="active">Mario</a>
      </span>
      <span class="navbar-text"> 
        <a routerLink="/jessie" routerLinkActive="active" class=" text-dark">Jessie</a>
      </span>
    </div>
</nav>