<nav class="navbar navbar-light bg-light">
    <div class="container-fluid">
      <span class="navbar-text"> 
        <a routerLink="/eric" routerLinkActive="active">Eric</a>
      </span>
      <span class="navbar-text"> 
        <a routerLink="/first-component" routerLinkActive="active">Justin</a>
      </span>
      <span class="navbar-text"> 
        <a routerLink="/first-component" routerLinkActive="active">Elias</a>
      </span>
      <span class="navbar-text"> 
        <a routerLink="/mario" routerLinkActive="active">Mario</a>
      </span>
      <span class="navbar-text"> 
        <a routerLink="/jessie" routerLinkActive="active">Jessie</a>
      </span>
    </div>
</nav>