<div class="container-fluid">
    <h3 class="display-3 text-center">Hey I'm Eric!</h3>
    <br>
    <br>
    <br>
    <div class="row justify-content-md-center">
        <ul>
            <li class="font-weight-bold">Birthplace: </li>
            <br>
            <p>Portland, Oregon</p>
            <br>
            <p class="font-weight-bold">Top Five Interests/Hobbies:</p>
            <ol>
                <li>Music Production</li>
                <li>Reading (Tech/Science)</li>
                <li>Films/Shows</li>
                <li>Craft Beer</li>
                <li>Travel</li>
            </ol>
            <br>
            <li class="font-weight-bold">My favorite quote:</li>
            <br>
            <p>"The greatest glory in living lies not in never falling, but in rising every time we fall."</p>
            <span class="font-italic">-Nelson Mandela</span>
        </ul>
        <br>
        <br>
        <div class="justify-content-md-center">
            <img style="width:500px;height:300px" src='https://media.cntraveler.com/photos/5a2fdec837dada794e16bd22/master/pass/Geirangerfjord-GettyImages-482832914.jpg' alt='image'>
        </div>
    </div>
</div>
